# Version de Minecraft 
VERSION=26.2

# Contraseña RCON 
RCON_PASSWORD=change-this-to-a-secure-password

# Whitelist 
WHITELIST=USER1,USER2,USER3
OPS=USER1

# Rendimiento 
VIEW_DISTANCE=16
SIMULATION_DISTANCE=10
INIT_MEMORY=4G
MAX_MEMORY=6G
